################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Game-Programming-1/FileContentIndex/1df418e2-61d1-4666-a8e7-71e53733d7ea.vsidx
/.vs/Game-Programming-1/FileContentIndex/39c18291-33b9-40dd-b939-2b2e42e05a1f.vsidx
/.vs/Game-Programming-1/FileContentIndex/62a502b6-6e5b-48be-aae1-dfd1506f9e16.vsidx
/.vs/Game-Programming-1/FileContentIndex/77406d71-bd67-48c0-a0dd-0a5c126d6a1c.vsidx
/.vs/Game-Programming-1/FileContentIndex/9719c938-b7f3-4546-8106-0c5ef8c692c9.vsidx
/.vs/Game-Programming-1/FileContentIndex/a28fc816-4922-48e8-ac6e-1c9da6f75eb4.vsidx
/.vs/Game-Programming-1/FileContentIndex/a96e1275-c963-4643-8735-42f7186b3d4d.vsidx
/.vs/Game-Programming-1/FileContentIndex/c632c0b3-4c48-46ce-990a-9c4c90d72399.vsidx
/.vs/Game-Programming-1/FileContentIndex/d7d3bcbc-a884-4149-9da7-4de8752a48c0.vsidx
/.vs/Game-Programming-1/FileContentIndex/fe1fbd48-0baf-4d72-afcf-f87ab7fd66a6.vsidx
/.vs/Game-Programming-1/FileContentIndex/read.lock
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/37eb7f65-0374-4513-b7f3-8e6b4ec30c56.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/3f053d07-2958-49f5-95f6-04160c6cf847.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/578d972b-93b2-40c9-a1f4-4b8f67ef349a.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/7ba1cb3a-38c1-4c68-baab-50716a46885a.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/85bd5e9f-753a-4ce6-b46e-26f4d9912ef3.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/c490684a-8056-4874-8e2a-0786f6a82895.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/cfce72b7-8f46-45d1-9ded-be719e9ee689.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/d3aedda7-73ca-4d65-a3bf-70a487ad2a61.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/e262b96d-e572-4f74-9d74-1c9c86c57d57.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/read.lock
/.vs/Game-Programming-1/FileContentIndex/21624c23-be09-4046-94da-f5f4f50f14a1.vsidx
/.vs/Game-Programming-1/FileContentIndex/5ebebe13-4c15-479d-b688-3f407ae0e66e.vsidx
/.vs/Game-Programming-1/FileContentIndex/8813297c-e742-4125-93c7-aeabf53a345a.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/211ed3b3-2d57-4947-a088-8e83ba4c35bc.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/64d129a1-2e12-49e6-916a-b0af92dca3a6.vsidx
/.vs/Game-Programming-1/FileContentIndex/18ed8516-a628-422d-9895-95af3395a96d.vsidx
/.vs/Game-Programming-1/FileContentIndex/1c1da40c-3cf6-4b83-afb2-33490f912885.vsidx
/.vs/Game-Programming-1/FileContentIndex/d26fed4c-1cbb-4110-9a28-8baa6e32c4f9.vsidx
/.vs/Game-Programming-1/FileContentIndex/e5ea86f2-f7b6-418e-bb96-45beeb50e23b.vsidx
/.vs/Game-Programming-1/FileContentIndex/f59f13cf-685f-4050-bbe4-ca2b3c263f43.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/048d6251-1c30-40c0-a432-80e5c64ad101.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/3a0f4991-650c-44ad-8201-726b93727f39.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/3b61a143-2de3-40be-b4b9-54ac4d09d64c.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/49fabe85-5682-4525-b4e9-7f87ec81f272.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/58c859e5-defe-40da-bb65-6f4d00d059f2.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/59af18ae-5217-4957-abdf-cbaa3b831f4a.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/6c2f25d9-d013-4ca5-ae58-2ee69e96b53b.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/6ced0a23-ac14-45ca-83e2-c7f6600510fe.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/ae54dbbe-acfc-4064-99e8-ee4838252789.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/fb575747-54ae-4538-9264-5458faa963dd.vsidx
/.vs/Game-Programming-1/FileContentIndex/7cb9f077-a0fc-4c8b-8d2a-594a2df52b6c.vsidx
/.vs/Game-Programming-1/FileContentIndex/9e162ff8-6511-4594-82bb-7c7e595a3198.vsidx
/.vs/Game-Programming-1/FileContentIndex/c2c5ec08-4321-4c69-8112-e6a8a40976a7.vsidx
/.vs/Game-Programming-1/FileContentIndex/d779645a-7ef2-4b2d-9f05-e7c4c070dd61.vsidx
/.vs/Game-Programming-1/FileContentIndex/e47414cd-9802-4338-a9f9-21fcab64361b.vsidx
/.vs/Game-Programming-1/FileContentIndex/fec9125a-f166-47fd-b72c-5151e97521c2.vsidx
/.vs/Game-Programming-1/FileContentIndex/f3e1cf78-5051-4fd9-9005-68d6ee46a163.vsidx
