################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Game-Programming-1/FileContentIndex/1df418e2-61d1-4666-a8e7-71e53733d7ea.vsidx
/.vs/Game-Programming-1/FileContentIndex/39c18291-33b9-40dd-b939-2b2e42e05a1f.vsidx
/.vs/Game-Programming-1/FileContentIndex/62a502b6-6e5b-48be-aae1-dfd1506f9e16.vsidx
/.vs/Game-Programming-1/FileContentIndex/77406d71-bd67-48c0-a0dd-0a5c126d6a1c.vsidx
/.vs/Game-Programming-1/FileContentIndex/9719c938-b7f3-4546-8106-0c5ef8c692c9.vsidx
/.vs/Game-Programming-1/FileContentIndex/a28fc816-4922-48e8-ac6e-1c9da6f75eb4.vsidx
/.vs/Game-Programming-1/FileContentIndex/a96e1275-c963-4643-8735-42f7186b3d4d.vsidx
/.vs/Game-Programming-1/FileContentIndex/c632c0b3-4c48-46ce-990a-9c4c90d72399.vsidx
/.vs/Game-Programming-1/FileContentIndex/d7d3bcbc-a884-4149-9da7-4de8752a48c0.vsidx
/.vs/Game-Programming-1/FileContentIndex/fe1fbd48-0baf-4d72-afcf-f87ab7fd66a6.vsidx
/.vs/Game-Programming-1/FileContentIndex/read.lock
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/37eb7f65-0374-4513-b7f3-8e6b4ec30c56.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/3f053d07-2958-49f5-95f6-04160c6cf847.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/578d972b-93b2-40c9-a1f4-4b8f67ef349a.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/7ba1cb3a-38c1-4c68-baab-50716a46885a.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/85bd5e9f-753a-4ce6-b46e-26f4d9912ef3.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/c490684a-8056-4874-8e2a-0786f6a82895.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/cfce72b7-8f46-45d1-9ded-be719e9ee689.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/d3aedda7-73ca-4d65-a3bf-70a487ad2a61.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/e262b96d-e572-4f74-9d74-1c9c86c57d57.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/read.lock
/.vs/Game-Programming-1/FileContentIndex/21624c23-be09-4046-94da-f5f4f50f14a1.vsidx
/.vs/Game-Programming-1/FileContentIndex/5ebebe13-4c15-479d-b688-3f407ae0e66e.vsidx
/.vs/Game-Programming-1/FileContentIndex/8813297c-e742-4125-93c7-aeabf53a345a.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/211ed3b3-2d57-4947-a088-8e83ba4c35bc.vsidx
/Assignments/Breakout_Midterm/BreakOut/.vs/BreakOut/FileContentIndex/64d129a1-2e12-49e6-916a-b0af92dca3a6.vsidx
